@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(241, 233, 216);
    min-height: 100vh;
    /* background-image: linear-gradient(134.93deg, #FDAD18 14.4%, #FD7339 38.61%, #FE4852 59.25%, #FE2D62 75.62%, #FF2468 85.59%); */
    ;
}

nav {
    background: none;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #ef4b3f;
}

.topnav {
    display: flex;
}

.icon {
    display: none;
}

.logo img {
    width: 110px;
}

.logo {
    flex: 1;
    margin-top: 25px;
    margin-left: 180px;

}

.logo a {
    display: flex;
    align-items: center;

}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px 2px;
    margin-right: 180px;

}

#w1 {
    width: 276px;
    padding-right: 20px;
    padding-left: 20px
}

#w2 {
    padding-left: 22px;
}

#w3 {
    padding-left: 22px;
}

.culine {
    opacity: 0;
}

.sch:hover .culine {
    opacity: 1;
    transition: 0.4s ease-in;
}

.menu p {
    padding: 0px 25px;
    font-size: 12px;
    display: block;
}

.wrapper {
    position: absolute;
    width: 525px;
    height: 522px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.192361) 50%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(50px);
    border: 1px solid white;
    border-radius: 8px;
    margin-left: 230px;
    margin-top: 120px;
    padding: 20px 30px;
    z-index: 2;
    overflow: hidden;
    transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.heading {
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
}

.call {
    color: rgba(89, 89, 94, 1);
    font-family: sans-serif;
    padding-bottom: 15px;
}

.content {
    color: rgba(89, 89, 94, 1);
    font-family: system-ui;
}

.submit {
    position: absolute;
    display: flex;
    background-color: black;
    width: 130px;
    height: 57px;
    top: 15px;
    left: -127px;
    align-items: center;
    border-radius: 18px;
    justify-content: center;
}

.submit p {
    color: white;
    letter-spacing: -0.15px;
    padding: 8px;
    font-family: system-ui;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(121.81deg, #FFAA00 15.75%, #FF7C13 36.25%, #FF0943 82.91%, #FF0048 86.44%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.submit1 {
    position: absolute;
    display: flex;
    background-color: black;
    width: 150px;
    height: 60px;
    left: 10px;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
}

.submit1 p {
    color: white;
    letter-spacing: -0.15px;
    padding: 8px;
    font-family: system-ui;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(121.81deg, #FFAA00 15.75%, #FF7C13 36.25%, #FF0943 82.91%, #FF0048 86.44%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.register {
    position: absolute;
    display: flex;
    background-color: black;
    width: 150px;
    height: 60px;
    left: 200px;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
}

.register p {
    color: white;
    letter-spacing: -0.15px;
    padding: 8px;
    font-family: system-ui;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.dont {
    display: none;
}

.slider {
    position: absolute;
    top: 753px;
    z-index: 3;
    left: 250px;
}

.slider img {
    width: 90%;
}

.watermark {
    position: absolute;
    margin-top: 300px;
    mix-blend-mode: overlay;
    white-space: nowrap;
    opacity: 0.5;
    z-index: 1;
    overflow: hidden;
}

.readmecircle {
    position: absolute;
    width: 134.28px;
    height: 133.86px;
    left: 365.73px;
    top: 18.67px;
    z-index: 2;
}

.readme {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.readme p a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    position: relative;
    bottom: 70px;
    left: 368px;
    z-index: 8;
}

.readme p a:hover {
    text-decoration: underline;
    color: #ef4b3f;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.watermark-slider {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.watermark img {
    width: 95%;
    width: 100%;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

div.item {
    margin-left: 170px;
    position: relative;
    padding-top: 40px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100px;
}

.circles {
    height: 50%;
    top: 50%;
}

.circle1 {
    position: absolute;
    left: -3.07%;
    right: 56.98%;
    top: 75.1%;
    bottom: -2.6%;
    border-radius: 25px;
    background: #FE733A;
    filter: blur(106px);
    overflow: hidden;
}

.circle2 {
    position: absolute;
    left: 36.18%;
    right: 28.54%;
    top: 50.06%;
    bottom: -29.39%;
    border-radius: 25px;
    background: #FDAD18;
    filter: blur(146px);
    overflow: hidden;
}

.circle3 {
    position: absolute;
    left: 62.06%;
    right: 1.81%;
    top: 87.06%;
    bottom: -20.87%;
    border-radius: 25px;
    background: #F53E59;
    filter: blur(135px);
    overflow: hidden;
}



.caption {
    margin-left: 40px;
    padding-top: 20px;
    display: block;
    text-align: start;
    white-space: nowrap;
    font-family: sans-serif;
}

#cross {
    padding-left: 200px;
}

#mail {
    padding-left: 178px;
}

#mail_caption {
    padding-left: 140px;
}

.footer {
    position: absolute;
    height: 85px;
    top: 120%;
    width: 100%;
    padding: 30px;
    background: #1F1F1F;
    z-index: 100;
}

.footer_ele {
    width: 50px;
    white-space: nowrap;
    display: inline;
}

#fb {
    width: 12px;
    margin-left: 15px;

}

#li {
    width: 12px;
    margin-left: 15px;
}

#ig {
    width: 15px;
    margin-left: 15px;
}

#credit {
    font-size: 12px;
    color: rgba(89, 89, 94, 1);
    padding-left: 10px;

}

.main_footer {
    display: flex;
    justify-content: space-between;

}


@media screen and (max-width: 600px) {
    .topnav {
        display: none;
    }

    .logo {
        margin-left: 100px;
    }

    .logo img {
        width: 62.95px;
        height: 63.88px;
    }

    .itemcontainer {
        margin-top: 150px;
    }

    .item {
        position: absolute;
        /* left: 8.33%; */
        right: 30.33%;
        top: 16.67%;
        bottom: 16.67%;
    }

    #cross {
        display: none;
    }

    #mail {
        padding-left: 0px;
    }

    #mail_caption {
        padding-left: 0px;
    }

    .arg {
        position: relative;
        bottom: 40px;
    }

    .wrapper {
        position: absolute;
        width: 500px;
        height: 400px;
        left: calc(120% - 580px/2 - 400px);
        margin-top: 60px;
    }

    .slider {
        position: relative;
        top: -450px;
        left: 70px;
        z-index: 3;
        justify-content: center;
        align-items: center;
    }

    .slider img {
        width: 100%;
        height: 60px;
    }

    .show {
        display: none;
    }

    .dont {
        display: flex;
    }

    .footer {
        top: 135%;
        width: 131%;
    }
}